* {
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    margin: 40px 20px 40px 0;
}

body {
    margin: 56px auto;
    max-width: 580px;
    font-weight: 600;
}

body, button, input, select {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.2px;
}

button.action {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    background: black;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 18px 40px;
    cursor: pointer;
    letter-spacing: 0.2px;
    transition: background 100ms ease-in;
}

button.action:disabled, button.action:disabled:hover {
    background: #aaa;
    cursor: default;
}

button.action:hover {
    background: #333;
}

button.action:active {
    background: black;
}

button.secondary {
    background: #f7f7f7;
    color: black;
}

button.secondary:hover {
    background: #eee;
}

button.secondary:active {
    background: #ddd;
}


.flex {
    display: flex;
    min-width: 0;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.expand {
    flex-grow: 1;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}